/* import tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* define custom styles */

body {
    /* typography */
    @apply font-manrope;
    /* layout */
    @apply flex flex-col items-center justify-center;
    /* background */
    @apply bg-background-gray;
}

/*================================ HEADER ================================*/
header {
    /* layout */
    @apply flex flex-col;
    /* dimensions */
    min-width: 320px;
    width: 100%;
    max-width: 1440px;
    /* background */
    background-size: cover;
    background: url("../assets/background/header.png") no-repeat center;
}

.logo-container {
    /* layout */
    @apply flex;
}

.logo-container img {
    /* dimensions */
    width: 210px;
    padding: 20px;
}

.title-container {
    /* dimensions */
    margin: 5% 20% 15px 20%;
}

.title-container h1 {
    /* typography */
    @apply font-anton text-custom-yellow text-center text-xl md:text-3xl lg:text-4xl;
}

.search-container {
    /* layout */
    @apply flex justify-center items-center;
    /* dimensions */
    margin: 15px 10% 10% 10%;
}

.search-input {
    /* typography */
    @apply text-sm md:text-base lg:text-base;
    /* on focus remove the text of the placeholder */
    @apply focus:outline-none;
    /* dimensions */
    width: 954px;
    height: 72px;
    padding: 35px;
    margin-left: 50px;
    /* borders */
    border-radius: 10px;
}

.search-input:focus::-webkit-input-placeholder {
    color: transparent;
}

.search-input:focus::-moz-placeholder {
    color: transparent;
}

.search-input:focus:-ms-input-placeholder {
    color: transparent;
}

.search-input:focus::placeholder {
    color: transparent;
}

.search-button {
    /* layout */
    position: relative;
    left: -60px;
    /* colors */
    color: white;
    background-color: black;
    /* dimensions */
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    /* borders */
    border-radius: 10px;
}

.search-button:hover {
    @apply hover:bg-custom-yellow;
}

.clear-icon-container {
    /* layout */
    @apply flex justify-center items-center;
    position: relative;
    left: -140px; /* (50px + (60px - 50px) x 2) x 2 */
    /* dimensions */
    width: 30px;
    height: 30px;
}

.search-container .fa-xmark {
    display: none;
    @apply justify-center items-center;
    /* dimensions */
    width: 13px;
    height: 13px;
    min-width: 13px;
    min-height: 13px;
    /* colors */
    @apply text-custom-gray;
    @apply hover:text-custom-yellow;
}

/*================================ MAIN ================================*/
main {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
}

/*================================ ADVANCED SEARCH FIELDS ================================*/

.filters-number {
    @apply flex justify-between items-start;
    padding: 20px 0;
}

.number-container {
    @apply flex justify-center items-center;
    @apply font-anton;
}

.filters-container {
    @apply flex flex-row justify-between;
}

.filter {
    @apply inline-flex flex-col justify-center;
    width: 195px;
    margin-right: 20px;
    gap: 14px;
    border-radius: 11px;
    background-color: white;
}

.filter-title-container {
    width: 100%;
    @apply flex flex-row justify-between items-center;
    padding: 17px 16px;
}

.filter-title {
    @apply text-base;
    font-weight: 500;
}

.advanced-search-container {
    @apply flex flex-row items-center;
    @apply text-custom-gray;
    padding: 0 16px;
}

.advanced-search-container input {
    @apply text-sm;
    padding: 5px;
    width: 163px;
    border: 1px solid #9ca3af;
    border-radius: 2px;
}

.advanced-search-container input:focus {
    outline: 1px solid #9ca3af;
}

.advanced-search-container .advanced-search-button {
    position: relative;
    right: 20px;
    opacity: 0.5;
}

.advanced-clear-icon-container {
    @apply flex justify-center items-center;
    position: relative;
    right: 50px;
    width: 20px;
    height: 20px;
}

.advanced-search-container .fa-xmark {
    display: none;
    @apply justify-center items-center;
    @apply text-xs;
    @apply hover:text-custom-yellow;
    opacity: 0.5;
    width: 10px;
    height: 10px;
}

.filters-list {
    @apply flex flex-col;
    gap: 2px;
}

.filters-list li {
    @apply text-sm;
    font-weight: 400;
    list-style: none;
    padding: 5px 16px;
    @apply hover:bg-custom-yellow;
}

.tags-container menu {
    @apply flex flex-col;
    gap: 2px;
}

.tags-container li {
    @apply text-sm;
    font-weight: 400;
    list-style: none;
    @apply bg-custom-yellow;
    padding: 5px 16px;
}

/*================================ TAGS ================================*/

.selected-filters {
    @apply flex flex-row items-center;
}

.selected-filters .selected-filter {
    /* layout */
    @apply inline-flex flex-row justify-center items-center;
    @apply text-base bg-custom-yellow;
    /* dimensions */
    border-radius: 10px;
    padding: 17px 18px;
    margin: 3px 10px;
    gap: 60px;
}

/*================================ RECIPES ================================*/
.recipes-container {
    /* layout */
    @apply grid grid-cols-3 gap-8;
    /* dimensions */
    margin: 20px auto;
}

article {
    @apply flex flex-col justify-start items-center;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.recipe-card-img-container {
    position: relative;
    width: 100%;
}

article img {
    align-self: stretch;
    height: 253px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.time {
    position : absolute;
    top: 20px;
    right: 20px;
    padding: 5px 15px;
    @apply text-xs bg-custom-yellow;
    border-radius: 14px;
}

.recipe-card-content {
    padding: 25px;
}

.recipe-card-content h2 {
    @apply font-anton text-lg;
    font-weight: 400;
    margin: 0;
}

.recipe-card-content h3 {
    @apply text-custom-gray text-xs;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin: 15px 0;
}

.recipe-card-content-instructions p {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    margin-bottom: 20px;
}

.recipe-card-content-ingredients {
    margin-bottom: 20px;
}

.recipe-card-content-ingredients .ingredients-list {
    @apply grid grid-cols-2 gap-x-16 gap-y-4;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.recipe-card-content-ingredients ul li.ingredient  {
    font-weight: 500;
}

.recipe-card-content-ingredients ul li.quantity-and-unit {
    @apply text-custom-gray;
    font-weight: 400;
}

/*================================ MEDIA QUERIES ================================*/

@media (max-width: 1024px) {
    /* header media queries */
    .search-input {
        width: 800px;
        height: 50px;
        padding: 25px;
        margin-left: 40px;
    }

    .search-button {
        position: relative;
        left: -45px;
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
    }

    .clear-icon-container {
    left: -115px; /* (40px + (45px - 40px) x 2) x 2 */
    }

    /* main media queries */

    .number-container {
        @apply text-sm;
    }

    .filter {
        margin-right: 7px;
        gap: 15px;
        width: 150px;
    }

    .filter-title-container {
        padding: 10px;
    }

    .advanced-search-container {
        padding: 0 10px;
    }

    .advanced-search-container input {
        /* typography */
        @apply text-sm;
        /* dimensions */
        padding: 10px;
        width: 120px;
    }

    .filters-list li {
        @apply text-sm;
        padding: 0 10px;
    }

    .tags-container li {
        @apply text-sm;
        padding: 0 10px;
    }

    .recipes-container {
        @apply grid grid-cols-2;
    }
}

@media (max-width: 768px) {
    main {
        padding: 15px 50px;
    }

    /* header media queries */
    .search-input {
        /* dimensions */
        width: 600px;
        height: 40px;
        padding: 15px;
        margin-left: 30px;
    }

    .search-button {
        /* layout */
        position: relative;
        left: -35px;
        /* dimensions */
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
    }

    .clear-icon-container {
        left: -95px; /* (30px + (35px - 30px) x 2) x 2 */
    }

    /* main media queries */
    .filters-number {
        /* layout */
        @apply flex justify-between items-start;
        padding: 20px 0;
    }

    .number-container {
    /* typography */
        @apply text-xs;
    }

    .filter {
        @apply text-xs;
        margin-right: 15px;
        gap: 10px;
        width: 120px;
    }

    .filter-title-container {
        padding: 5px;
    }

    .filter-title {
        @apply text-xs;
    }

    .advanced-search-container {
        padding: 0 5px;
    }

    .advanced-search-container input {
        @apply text-xs;
        padding: 5px;
        width: 110px;
    }

    .filters-list li {
        @apply text-xs;
    }

    .tags-container li {
        @apply text-xs;
    }

    .selected-filters .selected-filter {
        @apply text-xs;
        padding: 10px;
        margin-right: 5px;
        gap: 15px;
    }

    /* recipes media queries */
    .recipes-container {
        @apply grid grid-cols-1;
    }
}

