/* import tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* define custom styles */

body {
    /* typography */
    @apply font-manrope;
    /* layout */
    @apply flex flex-col items-center justify-center;
    /* background */
    @apply bg-background-gray;
}

/*================================ HEADER ================================*/
header {
    /* layout */
    @apply flex flex-col;
    /* dimensions */
    min-width: 320px;
    width: 100%;
    max-width: 1440px;
    /* background */
    background-size: cover;
    background: url("../assets/background/header.png") no-repeat center;
}

.logo-container {
    /* layout */
    @apply flex;
}

.logo-container img {
    /* dimensions */
    width: 210px;
    padding: 20px;
}

.title-container {
    /* dimensions */
    margin: 5% 20% 15px 20%;
}

.title-container h1 {
    /* typography */
    @apply font-anton text-custom-yellow text-center text-xl md:text-3xl lg:text-4xl;
}

.search-container {
    /* layout */
    @apply flex justify-center items-center;
    /* dimensions */
    margin: 15px 10% 10% 10%;
}

.search-input {
    /* typography */
    @apply text-sm md:text-base lg:text-base;
    /* on focus remove the text of the placeholder */
    @apply focus:outline-none;
    /* dimensions */
    width: 954px;
    height: 72px;
    padding: 35px;
    margin-left: 50px;
    /* borders */
    border-radius: 10px;
}

.search-input:focus::-webkit-input-placeholder {
    color: transparent;
}

.search-input:focus::-moz-placeholder {
    color: transparent;
}

.search-input:focus:-ms-input-placeholder {
    color: transparent;
}

.search-input:focus::placeholder {
    color: transparent;
}

.search-button {
    /* layout */
    position: relative;
    left: -60px;
    /* colors */
    color: white;
    background-color: black;
    /* dimensions */
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    /* borders */
    border-radius: 10px;
}

.search-button:hover {
    @apply hover:bg-custom-yellow;
}

.xmark {
    /* layout */
    position: relative;
    left: -140px; /* (50px + (60px - 50px) x 2) x 2 */
    /* dimensions */
    width: 13px;
    height: 13px;
    min-width: 13px;
    min-height: 13px;
    /* colors */
    @apply text-custom-gray;
}

/*================================ MAIN ================================*/
main {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
}

.filters-number {
    /* layout */
    @apply flex justify-between items-center;
    padding: 20px 0;
}

.filters-container {
    @apply flex flex-row justify-between items-center;
}

.filter {
    /* layout */
    @apply inline-flex justify-center items-center;
    margin-right: 20px;
    padding: 17px 16px;
    gap: 63px;
    border-radius: 11px;
    background-color: white;
}

.number-container {
    /* layout */
    @apply flex justify-center items-center;
    /* typography */
    @apply font-anton;
}

.recipes-container {

    /* layout */
    @apply grid grid-cols-3 gap-8;
    /* dimensions */
    margin: 20px auto;
}

article {
    /* layout */
    @apply flex flex-col justify-start items-center;
    /* dimensions */
    width: 100%;
    /* borders */
    border-radius: 10px;
    /* background */
    background-color: white;
}

.recipe-card-img-container {
    position: relative;
    width: 100%;
}

article img {
    align-self: stretch;
    /* dimensions */
    height: 253px;
    width: 100%;
    /* borders */
    border-radius: 10px 10px 0 0;
    /* background */
    object-fit: cover;
}

.time {
    position : absolute;
    top: 20px;
    right: 20px;
    padding: 5px 15px;
    @apply text-xs bg-custom-yellow;
    border-radius: 14px;
}

.recipe-card-content {
    padding: 25px;
}

.recipe-card-content h2 {
    @apply font-anton text-lg;
    font-weight: 400;
    margin: 0;
}

.recipe-card-content h3 {
    @apply text-custom-gray text-xs;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin: 15px 0;
}

.recipe-card-content-instructions p {
    /* layout */
    overflow: hidden;
    text-overflow: ellipsis;
    /* dimensions */
    height: 100px;
    margin-bottom: 20px;
}
.recipe-card-content-ingredients {
    margin-bottom: 20px;
}

.recipe-card-content-ingredients .ingredients-list {
    border: 5px solid pink;
    @apply grid grid-cols-2 gap-x-16 gap-y-4;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.recipe-card-content-ingredients ul li.ingredient  {
    font-weight: 500;
}

.recipe-card-content-ingredients ul li.quantity-and-unit {
    @apply text-custom-gray;
    font-weight: 400;
}

/*================================ MEDIA QUERIES ================================*/


@media (max-width: 1024px) {
    .search-input {
        /* dimensions */
        width: 800px;
        height: 50px;
        padding: 25px;
        margin-left: 40px;
    }

    .search-button {
        /* layout */
        position: relative;
        left: -45px;
        /* dimensions */
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
    }

    .xmark {
    left: -115px; /* (40px + (45px - 40px) x 2) x 2 */
    }


    .filter {
        /* layout */
        margin-right: 10px;
        padding: 10px 10px;
        gap: 30px;
    }

    .recipes-container {

        /* layout */
        @apply grid grid-cols-2;


    }
}

@media (max-width: 768px) {

    main {
        padding: 15px 50px;
    }

    .search-input {
        /* dimensions */
        width: 600px;
        height: 40px;
        padding: 15px;
        margin-left: 30px;
    }

    .search-button {
        /* layout */
        position: relative;
        left: -35px;
        /* dimensions */
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
    }

    .xmark {
        left: -95px; /* (30px + (35px - 30px) x 2) x 2 */
    }

    .filter {
        /* layout */
        margin-right: 5px;
        padding: 5px 5px;
        gap: 15px;
        /* typography */
        @apply text-xs;
    }

    .number-container {
        /* typography */
        @apply text-xs;
    }

    .recipes-container {

        /* layout */
        @apply grid grid-cols-1;

    }

}



/*!* borders for debugging *!*/

/*body {*/
/*     border: 5px solid red;*/
/*}*/

/*header {*/
/*     border: 5px solid blue;*/
/*}*/

/*.title-container {*/
/*     border: 5px solid pink;*/
/*}*/

/*.logo-content {*/
/*     border: 5px solid green;*/
/*}*/

/*.search-container {*/
/*     border: 5px solid yellow;*/
/*}*/

/*.search-input {*/
/*     border: 5px solid purple;*/
/*}*/

/*.search-button {*/
/*     border: 5px solid orange;*/
/*}*/

/*main {*/
/*    border: 5px solid green;*/
/*}*/

/*.filters-number {*/
/*    border: 5px solid red;*/
/*}*/